# [ ca_default ]
certificate             = $dir/ca/$ca.crt
new_certs_dir           = $dir/ca/$ca/certs
database                = $dir/ca/$ca/db/index.db
serial                  = $dir/ca/$ca/db/serial
crlnumber               = $dir/ca/$ca/db/crlnumber
private_key             = $dir/ca/$ca/private/$ca.key
cert_opt                = ca_default
copy_extensions         = none
crl_extensions          = crl_ext
default_crl_days        = 30
default_days            = 365
default_md              = sha256
name_opt                = utf8,esc_ctrl,multiline,lname,align
policy                  = policy_strict
preserve                = no
rand_serial             = yes
unique_subject          = no
x509_extensions         = intermediate_ca_ext
